.cheer {
  width: 100%;
  height: 100%;

  margin-top: 50.5px;

  .hand {
    width: 980.5px;
    height: 400.5px;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(238, 67, 103, 0.78),
        rgba(238, 67, 103, 0.78)
      ),
      url(../images/2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .overlaid {
    height: 100%;
    width: 100%;
    position: absolute;
    right: -460px;
    top: 391px;
    display: flex;
    color: white;
    padding: 10px;
    font-family: GillSans;
    font-size: 140px;
    display: flex;

    p {
      color: #ee4367;
    }
  }

  .overlayed {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 244px;
    display: flex;
    color: white;
    padding: 10px;
    font-family: GillSans;
    font-size: 140px;

    p {
      color: #ee4367;
    }
  }
}

@media screen and (max-width: 1000px) {
  .cheer {
    // background-color: aquamarine;
    width: 100%;
    flex-direction: column;
    max-height: 100%;

    .hand {
      flex-direction: column;
    }
  }
  .overlaid {
    flex-direction: column;
  }
  p {
    flex-direction: column;
  }
  .overlayed {
    flex-direction: column;
  }
}
