.speech {
  width: 100%;
  height: 100%;

  margin-top: 50.5px;

  .man {
    width: 980.5px;
    height: 400.5px;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(8, 173, 105, 0.78),
        rgba(8, 173, 105, 0.78)
      ),
      url(../images/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .overlaids {
    height: 100%;
    width: 100%;
    position: absolute;
    right: -470px;
    top: 394px;
    display: flex;
    color: white;
    padding: 10px;
    font-family: GillSans;
    font-size: 140px;
    display: flex;

    p {
      color: #08ad69;
    }
  }

  .overlayes {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 244px;
    display: flex;
    color: white;
    padding: 10px;
    font-family: GillSans;
    font-size: 140px;

    p {
      color: #08ad69;
    }
  }
}
