.five {
  width: 100%;
  height: 100%;

  margin-top: 50.5px;

  .close {
    width: 980.5px;
    height: 400.5px;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba(59, 206, 171, 0.78),
        rgba(59, 206, 171, 0.78)
      ),
      url(../images/5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .over {
    height: 100%;
    width: 100%;
    position: absolute;
    right: -215px;
    top: 240px;
    display: flex;
    color: white;
    padding: 10px;
    font-family: GillSans;
    font-size: 140px;
    display: flex;

    p {
      color: #3bceab;
    }
  }

  .lay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 470px;
    top: 415px;
    display: flex;
    color: white;
    padding: 10px;
    font-family: GillSans;
    font-size: 115px;

    p {
      color: #3bceab;
    }
  }
}
